# Understanding Statistics For Data Science

## 1.  Measures of Central Tendency

In [155]:
import pandas as pd

In [156]:
df=pd.read_csv('Stat_data.csv')

### Types of Variables
* Continous : Marks
* Categorical Variables
    * Nominal: Gender
    * Ordinal: Best>Good>Bad>Worst

In [157]:
df.head(5)

   Student  Overall Marks Gender    Subject
0    Anish           9700   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

### Mode
* Mode is the object occuring highest no. of times 
* It is the number which occurs most frequently in data series
* Mode is Robust i.e. it doesn't get affected by outliers.

Example:
What is favourite subject of class?

Subject that most Student consider their favourite

In [158]:
df['Subject'].mode()

0    Chemistry
dtype: object

### Mean / Average

* Mean= Sum(x)/len(x)
* Not Robust i.e gets affected by an outlier in dataset

Example: How well is class Performing ?

Average Marks of class

In [159]:
df['Overall Marks'].mean()

164.24

In [160]:
##Pythonic Way
def mean(l):
    return float(sum(l))/len(l)

l=[5,6,7,8,9]
mean(l)

7.0

## Outlier
It is the values that falls outside the range of data

Effect of Outlier on
    * Mean : Completly alters the mean value
    * Mode : Doesn't alter but it isnt a good rpresentation for continous data

In [161]:
def Outlier(l,R):
    return [i for i in l if i not in R]

#marks of Anish in df is a Outlier
Outlier(df['Overall Marks'].tolist(), range(101))

[9700]


### Median
Absolute central value of Data

In [162]:
df['Overall Marks'].median()

77.0

In [163]:
##pythonic way
def median(lis):
    lis=sorted(lis)
    n=len(lis)
    if (n%2)!=0:
        m=lis[n/2]
    else:
        #print lis[n/2]
        m=(lis[n/2]+lis[(n-1)/2])/2.0
    return m

median(df['Overall Marks'].tolist())

77.0

#### Quartile : 
* First Quartile: median of first sub part of data. It represents that 25% of data

* Median of the whole data is called Second Quartile

#### Quantile:  
1/4th of Quartile

In [164]:
Q1=df['Overall Marks'].quantile(0.25)
print("First Quartile: ",Q1)

('First Quartile: ', 57.25)


# 2. Spread of data
Describes how similar set of observations are.

### Range
* Range = Maximum value - Minimum value
* Suspectible to outliers
* Takes entire data into consideration

### IOR
* Inter-Quartile Range
* IQR= 3rd Quartile - 1st Quartile
* Robust to outliers
* Take only 50% of data into consideration

In [165]:
M = df['Overall Marks']

In [166]:
def range_data(M):
    return M.max() - M.min()

print range_data(M)

9700

In [167]:
def IQR(M):
    return M.quantile(0.75) - M.quantile(0.25)

print IQR

<function IQR at 0x7fec76fc8ed8>

## Variance
It is the Average Squared Deviation from Mean
It is used to represent Spread and Distribution of the data by taking each value into account.

#### Steps to calculate variance
1. Calculate Mean
2. Calculate the distance from mean for each element       -----individual deviation
3. Calculate Squared distance                   -----to get all positive distances, so that sum of all dist. wont be zero 
4. Take average of Squared distance                ----------to get overall value

#### Note:
the variance achieves positive values by squaring each of the deviations. Because the deviations of scores from the mean are 'squared', this gives more weight to extreme scores.


Example: Are all students performing Similarly or is there high difference in performance?

In [168]:
M=df['Overall Marks']
#M[1]=100
M.head(2)

0    9700
1      83
Name: Overall Marks, dtype: int64

In [169]:
mean= M.mean()

In [170]:
#python
#indi_sq_dist=[((marks-mean)** 2) for marks in M.tolist()]
#pandas
indi_sq_dist = ( M - mean )**2

In [171]:
variance = indi_sq_dist.mean()

print(variance)

919170.8424

##### Direct Method to calculate variance:

In [172]:
variance = M.var(ddof=0)

print variance

919170.8424

In [173]:
N= pd.Series([7, 6, 8, 4, 2, 7, 6, 7, 6, 5])
N=N+20
#N.head(2)
N.var(ddof=0)

2.7599999999999993

## Standard Deviation

#### S.D.= _/variance


##*Used to make the the variance_unit(meter.squared) to mean_unit(meter)

In [174]:
SD = (variance)**(0.5)

SD

958.7339789534944

##### Direct Method to calculate variance:

In [175]:
SD= M.std(ddof=0)

SD

958.7339789534944

In [176]:
N=pd.Series([180, 313, 101, 255, 202, 198, 109, 183, 181, 113, 171, 165, 318, 145, 131, 145, 226, 113, 268, 108]).sort_values()
N.std(ddof=0)

64.65514287355647




## Frequency Table

Example: Order the subject according to favouritism?

In [177]:
freq_table= df['Subject'].value_counts()

In [178]:
freq_table

Chemistry    36
Physics      35
English      29
Name: Subject, dtype: int64